root = true

[*]
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 4
max_line_length = off
end_of_line = lf

[*.json]
indent_size = 2

[{*.yml, *.yaml, *.neon, *.neon.dist}]
indent_size = 2

[{*.xml, *.xml.dist}]
indent_size = 2

[*.php]
max_line_length = 100

[*.blade.php]
indent_size = 2
max_line_length = off

[*.sh]
max_line_length = 80

[VERSION]
insert_final_newline = false
